/* slider */
#bannerAd {
    width: 750px;
    height: 450px;
    margin-top: auto;
    margin-left: 100px;
}

/* 이미지가 보이는 영역 */
.imgSlide {
    position: relative;
    width: 750px;
    height: 450px;
    overflow: hidden;
}

/* 전체 이미지를 감싸고 있는 부모 : 움직이는 부분 속성주기 */
.slideInner {
    display: flex;
    flex-wrap: wrap;
    width: 4500px;
    height: 450px;
}

/*개별적인 이미지 (각각의 이미지 설정) */
.slider {
    position: relative;
    width: 750px;
    height: 450px;
}

@media(max-width : 800px) {
    .imgSlide {
        width: 400px;
        height: 250px;
    }

    .slider {
        width: 400px;
        height: 250px;
    }
}

.slideBtn a {
    /* position: absolute; */
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: all 0.2s;
    display: block;
    color: black;
}

.slideBtn a.prev {
    margin-top: -25px;
    margin-left: 300px;
}

.slideBtn a.next {
    margin-top: -50px;
    margin-left: 370px;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 240px;
}

#login .loginBtn {
    margin: 10px;
    padding: 10px;
    width: 300px;
    border: solid black;

}

#container {
    text-align: center;
}

#container div {
    display: inline-block;
    padding: 10px;
}

.mainExercise {
    margin: 100px;
    width: 1400px;
    height: 450px;
    /* border: solid black; */

}